<%- include('./partial/_head.ejs');%>

<%- include('./partial/_form-header.ejs');%>

<%- include('./partial/_fill-black.ejs', {fillBlack : fillBlack});%>

<%- include('./partial/_single-choice.ejs', {singleChoice : singleChoice});%>

<%- include('./partial/_multiple-choice.ejs', {multipleChoice : multipleChoice});%>

<%- include('./partial/_true-false.ejs', {trueFalse : trueFalse});%>

<%- include('./partial/_short-answer.ejs', {shortAnswer : shortAnswer});%>

<div><input type="button" value="提交"></div>

<%- include('./partial/_footer.ejs');%>