<%- include('./partial/_head.ejs');%>

<%- include('./partial/_form-header.ejs', {className: className, id: id, name: name, score: score});%>

<%- include('./partial/_fill-black.ejs', {fillBlack : fillBlack});%>

<%- include('./partial/_single-choice.ejs', {singleChoice : singleChoice});%>

<%- include('./partial/_multiple-choice.ejs', {multipleChoice : multipleChoice});%>

<%- include('./partial/_true-false.ejs', {trueFalse : trueFalse});%>

<%- include('./partial/_short-answer.ejs', {shortAnswer : shortAnswer});%>

<%- include('./partial/_alert-modal.ejs');%>

<section class="text-center">
    <input type='button' onclick='formSubmit()' data-toggle='modal' class='btn btn-primary btn-lg' id="submitBtn" value="提交" />
</section>

<%- include('./partial/_footer.ejs');%>