<%- include('./partial/_head');%>

<%- include('./partial/_form-header', {userMsg: userMsg, score: score});%>

<%- include('./partial/_fill-black', {fillBlack : topic.fillBlack});%>

<%- include('./partial/_single-choice', {singleChoice : topic.singleChoice});%>

<%- include('./partial/_multiple-choice', {multipleChoice : topic.multipleChoice});%>

<%- include('./partial/_true-false', {trueFalse : topic.trueFalse});%>

<%- include('./partial/_short-answer', {shortAnswer : topic.shortAnswer});%>

<%- include('./partial/_alert-modal');%>

<section class="text-center">
    <input type='button' onclick='formSubmit()' data-toggle='modal' class='btn btn-primary btn-lg' id="submitBtn" value="提交" />
</section>

<%- include('./partial/_footer');%>
